<!DOCTYPE html>
<html>
    <head>
        <title>Первая страница</title>
    </head>
<body>
<table>
<tr>
<td>
  <a href="{{ path('user_form') }}">Перейти на главную форму</a>
</td>
</tr>
</table>
</body>
</html>
