<!DOCTYPE html>
<html>
    <head>
        <title>Завершение отправки</title>
    </head>
<body>
<table>
<tr>
<td>
  Поздравляем!
</td>
</tr>
<tr>
<td>
  Операция прошла успешно!
</td>
</tr>
<tr>
<td>
  <a href="{{ path('user_form') }}">Перейти на главную форму</a>  
</td>
</tr>
</table>
</body>
</html>
